<template name="enrollAccount">
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Please enter a password and click 'Enroll Account'</p>
            <div class="form-control">
                <label for="password">Enter Password</label>
                <input type="password" id="password" name="password" />
            </div>
            <div class="form-control">
                <label for="reenterPassword">Re-enter Password</label>
                <input type="password" id="reenterPassword" name="reenterPassword" />
            </div>
            <button class="btn btn-primary" id="btnEnroll">Enroll Account</button>
        </div>
    </div>
</template>
